name: Deploy project
on:
  push:
    branches: [main]

env:
  DB_NAME: ""

jobs:
  test:
    # environment: "staging" | "test" | "production..." # gotta config in GH settings.
    env:
      DB_CLUSTER_ADDRESS: ""
      # STH_SECRET: ${{ secrets.STH_SECRET }}
      PORT: 3000
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/cache@v5
        with:
          path: ~/.pnpm-store
          key: pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint
      - run: pnpm run test -- http://localhost:$PORT
      - run: echo "sth = $PORT or sth = ${{ env.PORT }}"

  build:
    needs: [test]
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.outputs.script-file }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/cache@v5
        with:
          path: ~/.pnpm-store
          key: pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - name: Publish JS filename
        id: publish
        run: |
          FILE=$(find dist/assets/*.js -type f | head -n 1)
          echo "script-file=$FILE" >> $GITHUB_OUTPUT
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-files
          if-no-files-found: error
          path: dist

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist-files
      - run: echo "Deploying... ${{ needs.build.outputs.script-file }}"
