name: Deploy project
on:
  push:
    branches: [main]

env:
  DB_NAME: ""

jobs:
  test:
    # environment: "staging" | "test" | "production..." # gotta config in GH settings.
    env:
      DB_CLUSTER_ADDRESS: ""
      # STH_SECRET: ${{ secrets.STH_SECRET }}
      PORT: 3000
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/cache@v5
        id: cache
        with:
          path: node_modules/
          key: pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: pnpm install --frozen-lockfile
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
      - run: pnpm run lint
      - run: pnpm run test -- http://localhost:$PORT
        id: run-test
      - run: echo "Uploading test report..."
        if: ${{ failure() && steps.run-test.outcome == 'failure' }}
        continue-on-error: true # continue even if failed, not make the whole job failed if this failed.
      - run: echo "sth = $PORT or sth = ${{ env.PORT }}"

  build:
    needs: [test]
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.outputs.script-file }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/cache@v5
        id: cache
        with:
          path: node_modules/
          key: pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: pnpm install --frozen-lockfile
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
      - run: pnpm run build
      - name: Publish JS filename
        id: publish
        run: |
          FILE=$(find dist/assets/*.js -type f | head -n 1)
          echo "script-file=$FILE" >> $GITHUB_OUTPUT
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-files
          if-no-files-found: error
          path: dist

  deploy:
    needs: [build]
    uses: ./.github/workflows/reusable.yml
    with:
      artifact-name: dist-files
    # secrets:
    #   some-secret: sth

    # runs-on: ubuntu-latest
    # steps:
    #   - name: Get build artifacts
    #     uses: actions/download-artifact@v7
    #     with:
    #       name: dist-files
    #   - run: echo "Deploying... ${{ needs.build.outputs.script-file }}"



  # Run if `needs` jobs failed...
  # report:
  #   needs: [test, build]
  #   if: ${{ failure() }}
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: echo "Sth went wrong"
