name: Deploy project
on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run test

  build:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-files
          if-no-files-found: error
          path: |
            dist
            package.json

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying..."
